<h1>Table head with directive</h1>
<div>
  <div appThead (orderChanged)="changeOrder($event)">
    <div>
      <wc-th id="id">id</wc-th>
      <wc-th id="firstName" sortable>First Name<fa-icon icon="coffee"></fa-icon></wc-th>
      <wc-th id="lastName">Last Name</wc-th>
      <wc-th id="age">Age</wc-th>
      <wc-th id="job" sortable>Job<mat-icon svgIcon="thumbs-up"></mat-icon></wc-th>
      <wc-th id="gender">Gender</wc-th>
      <wc-th id="options"></wc-th>
    </div>
  </div>
  <div>
    <div *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.job }}</td>
      <td>{{ user.gender }}</td>
      <td><button>sign</button></td>
    </div>
  </div>
</div>

<h1>Table head with component (angular parent - web-component childs)</h1>
<div>
  <app-thead (orderChanged)="changeOrder($event)">
    <wc-th id="id">id</wc-th>
    <wc-th #st id="firstName" sortable="true">First Name<fa-icon icon="coffee"></fa-icon></wc-th>
    <wc-th id="lastName">Last Name</wc-th>
    <wc-th id="age">Age</wc-th>
    <wc-th #st id="job" sortable="true">Job<mat-icon svgIcon="thumbs-up"></mat-icon></wc-th>
    <wc-th id="gender">Gender</wc-th>
    <wc-th id="options"></wc-th>
  </app-thead>
  <div>
    <div *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.job }}</td>
      <td>{{ user.gender }}</td>
      <td><button>sign</button></td>
    </div>
  </div>
</div>

<h1>container (web-component parent - angular childs)</h1>
<wc-parent>
  <app-child class="external"></app-child>
  <mat-icon svgIcon="thumbs-up"></mat-icon>
  <fa-icon icon="coffee"></fa-icon>
</wc-parent>
